In [5]:
import sqlite3
connection = sqlite3.connect('C:/Users/timmy/Desktop/COD/cis 2532 - python/assignment 12/ch17/books.db')

In [6]:
import pandas as pd

In [13]:
pd.options.display.max_columns = 10
pd.read_sql('SELECT * FROM titles', connection)

         isbn                             title  edition copyright
0  0135404673     Intro to Python for CS and DS        1      2020
1  0132151006     Internet & WWW How to Program        5      2012
2  0134743350               Java How to Program       11      2018
3  0133976890                  C How to Program        8      2016
4  0133406954  Visual Basic 2012 How to Program        6      2014
5  0134601548          Visual C# How to Program        6      2017
6  0136151574         Visual C++ How to Program        2      2008
7  0134448235                C++ How to Program       10      2017
8  0134444302            Android How to Program        3      2017
9  0134289366         Android 6 for Programmers        3      2016

In [14]:
cursor = connection.cursor()

In [15]:
cursor = cursor.execute("""SELECT * FROM titles""")

In [16]:
cursor.fetchall()

[('0135404673', 'Intro to Python for CS and DS', 1, '2020'),
 ('0132151006', 'Internet & WWW How to Program', 5, '2012'),
 ('0134743350', 'Java How to Program', 11, '2018'),
 ('0133976890', 'C How to Program', 8, '2016'),
 ('0133406954', 'Visual Basic 2012 How to Program', 6, '2014'),
 ('0134601548', 'Visual C# How to Program', 6, '2017'),
 ('0136151574', 'Visual C++ How to Program', 2, '2008'),
 ('0134448235', 'C++ How to Program', 10, '2017'),
 ('0134444302', 'Android How to Program', 3, '2017'),
 ('0134289366', 'Android 6 for Programmers', 3, '2016')]

In [17]:
cursor.description

(('isbn', None, None, None, None, None, None),
 ('title', None, None, None, None, None, None),
 ('edition', None, None, None, None, None, None),
 ('copyright', None, None, None, None, None, None))